- ratings = teacher.ratings.recents.page(page)
.panel.panel-white.post.panel-shadow
  .post-footer
    - if teacher.ratings.empty?
      %h4.js-empty-ratings.text-center
        = I18n.t('views.teacher_profile.rating.empty_ratings')
      %ul.comments-list.js-ratings
    - else
      %h4.js-empty-ratings.text-center
        = I18n.t('views.teacher_profile.rating.ratings_title')
      %ul.comments-list.js-ratings
        - ratings.each do |rating|
          .js-rating-row{ data: { id: rating.id } }
            = render 'rating_row', rating: rating
        .text-center.js-load-more-ratings
          = render 'load_more_ratings', teacher: teacher, page: page + 1