.col-md-9.col-sm-9
  .row
    %h4.headline
      = I18n.t("views.teacher_profile.show.work_experience")
    .panel.panel-default.fadeInDown.animation-delay4
      #accordionWork.panel-group
        - @teacher.teacher_profile.works.each do |work|
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle.collapsed{"data-parent" => "#accordionWork", "data-toggle" => "collapse", :href => "#"+work.id.to_s}
                  %p
                    = work.name_of_the_place
                    %div{class:'panel-collapse.collapse', id:work.id}
                      .panel-body
                      = work.description
