.col-md-3col-sm-3
  .padding-md
    .row
      .col-md-3.col-sm-3
        .row
          .col-xs-6.col-sm-12.col-md-6.text-center
            %img{:src => "/assets/empty_user.png"}
          .col-xs-6.col-sm-12.col-md-6
            %strong.font-14.text-center
              = @teacher.first_name
              = @teacher.last_name
            %p
              = @teacher.teacher_profile_hour_rate
            %small.block.text-muted
              = @teacher.email
            .seperator
