.panel.panel-default
  .panel-body
    %h2.text-center
      = I18n.t('views.users.index.teachers_table.teachers_title')
    %br/
    %ul.w3-ul.w3-card-4
      - UserDecorator.decorate_collection(teachers).each do |teacher|
        = render 'teacher_table_row', teacher: teacher
    %ul.pagination.pagination-split 
