.col-md-9.col-sm-9
  .row
    %h4.headline
      = I18n.t("views.teacher_profile.show.about_me")
    .panel.panel-default.fadeInDown.animation-delay2
      %p
      = teacher.teacher_profile_description
    %h4.headline
      = I18n.t("views.teacher_profile.show.subjects")
    .panel.panel-default.fadeInDown.animation-delay3
      %dl
        - teacher.subjects.each do |subject|
          %dt
            = subject.name
