.datepicker.dropdown-menu{:style => "display: none; top: 2911px; left: 402.828px;"}
  .datepicker-days{:style => "display: block;"}
    %table.table-condensed
      %thead
        %tr
          %th.prev ‹
          %th.switch{:colspan => "5"} October 2013
          %th.next ›
        %tr
          %th.dow Su
          %th.dow Mo
          %th.dow Tu
          %th.dow We
          %th.dow Th
          %th.dow Fr
          %th.dow Sa
      %tbody

  .datepicker-months{:style => "display: none;"}
    %table.table-condensed
      %thead
        %tr
          %th.prev ‹
          %th.switch{:colspan => "5"} 2013
          %th.next ›
      %tbody
        %tr
          %td{:colspan => "7"}
  .datepicker-years{:style => "display: none;"}
    %table.table-condensed
      %thead
        %tr
          %th.prev ‹
          %th.switch{:colspan => "5"} 2010-2019
          %th.next ›
      %tbody
        %tr
          %td{:colspan => "7"}
