\%form.form-horizontal.form-border
\.panel-heading
Basic Information
\.panel-body
\.form-group
\%label.control-label.col-md-2 Username
\.col-md-10
\%input.form-control.input-sm{:placeholder =&gt; "Username", :type =&gt; "text", :value =&gt; "John Doe"}/
\/ /.col
\/ /form-group
\.form-group
\%label.control-label.col-md-2 Password
\.col-md-10
\%input.form-control.input-sm{:type =&gt; "password", :value =&gt; "Password"}/
\/ /.col
\/ /form-group
\.form-group
\%label.control-label.col-md-2 Email
\.col-md-10
\%input.form-control.input-sm{:type =&gt; "text", :value =&gt; "john_doe@email.com"}/
\/ /.col
\/ /form-group
\.form-group
\%label.control-label.col-md-2 Gender
\.col-md-10
\%label.label-radio.inline
\%input{:checked =&gt; "checked", :name =&gt; "inline-radio", :type =&gt; "radio"}/
\%span.custom-radio
Male
\%label.label-radio.inline
\%input{:name =&gt; "inline-radio", :type =&gt; "radio"}/
\%span.custom-radio
Female
\/ /.col
\/ /form-group
\.form-group
\%label.control-label.col-md-2 Address
\.col-md-10
\%textarea.form-control{:rows =&gt; "3"}
\/ /.col
\/ /form-group
\.form-group
\%label.control-label.col-md-2 Phone
\.col-md-10
\%input.form-control.input-sm{:type =&gt; "text"}/
\/ /.col
\/ /form-group
\.panel-footer
\.text-right
\%button.btn.btn-sm.btn-success Update
\%button.btn.btn-sm.btn-success{:type =&gt; "reset"} Reset
