%li.comment
  %a.pull-left{:href => "#"}
    %img.avatar{:alt => "avatar", :src => "http://bootdey.com/img/Content/user_1.jpg"}/
  .comment-body
    .comment-heading
      %h4.user Gavino Free
      %h5.time 5 minutes ago
      %a{:href => "#"} Reply
    %p Sure, oooooooooooooooohhhhhhhhhhhhhhhh
  %ul.comments-list
    %li.comment
      %a.pull-left{:href => "#"}
        %img.avatar{:alt => "avatar", :src => "http://bootdey.com/img/Content/user_3.jpg"}/
      .comment-body
        .comment-heading
          %h4.user Ryan Haywood
          %h5.time 3 minutes ago
        %p Relax my friend
