%body
  / full width container
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tr
            %td.titulo{:align => "center", :style => "font-size: 36px; padding: 30px 0; color: #65cea7;"}
              Recibiste una calificación #{h =@user.first_name}
          %tr
            %td.contenido{:style => "padding-bottom: 30px; line-height: 21px; font-size: 20px;"}
              Alguién comentó acerca de tu desempeño, enterate que dijo y además da tu opinión al respecto haciendo
              %a{:href => "http://localhost:3000"} Click Aquí
