%body
  / full width container
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:align => "center"}
        %table.responsive-table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
          %tr
            %td.titulo{:align => "center", :style => "font-size: 36px; padding: 30px 0; color: #65cea7;"}
              Universitate
          %tr
            %td.contenido{:style => "padding-bottom: 30px; line-height: 21px; font-size: 20px;"}
              Se ha solicitado un cambio de contraseña para tu cuenta de usuario. Si no ha sido solicitado por usted, ignore el mensaje.
              = link_to 'Click Aquí para cambiar tu contraseña.', edit_password_url(@user, reset_password_token: @token)
