/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap.min
 *= require endless-landing.min
 *= require endless.css
 *= require chosen
 *= require chosen.min
 *= require_self
 *= require_tree .
 */

body {
  background-image: url('/chat_background.png');
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.field_with_errors textarea, input, select {
  border-color: red;
}

.js-row-clickable {
  cursor: pointer;
}

.jumbotron {
  border-radius: 10px;
  background-color: #f9f9f9;
}

.js-decimal-mask {
  text-align: left !important;
}