.content.container-fluid.bootstrap.snippets
  .row.row-broken
    .col-xs-12.chat{:style => "overflow: hidden; outline: none;", :tabindex => "5001"}
      .col-inside-lg.decor-default
        .chat-body
          %h6 Mini Chat
          .answer.left
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar1.png"}/
              .status.offline
            .name Alexander Herthic
            .text
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar2.png"}/
              .status.offline
            .name Alexander Herthic
            .text
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
            .time 5 min ago
          .answer.left
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar1.png"}/
              .status.online
            .name Alexander Herthic
            .text
              \...
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar2.png"}/
              .status.busy
            .name Alexander Herthic
            .text
              It is a long established fact that a reader will be. Thanks Mate!
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar1.png"}/
              .status.off
            .name Alexander Herthic
            .text
              It is a long established fact that a reader will be. Thanks Mate!
            .time 5 min ago
          .answer.left
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar2.png"}/
              .status.offline
            .name Alexander Herthic
            .text
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar1.png"}/
              .status.offline
            .name Alexander Herthic
            .text
              Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
            .time 5 min ago
          .answer.left
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar2.png"}/
              .status.online
            .name Alexander Herthic
            .text
              \...
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar1.png"}/
              .status.busy
            .name Alexander Herthic
            .text
              It is a long established fact that a reader will be. Thanks Mate!
            .time 5 min ago
          .answer.right
            .avatar
              %img{:alt => "User name", :src => "http://bootdey.com/img/Content/avatar/avatar2.png"}/
              .status.off
            .name Alexander Herthic
            .text
              It is a long established fact that a reader will be. Thanks Mate!
            .time 5 min ago
          .answer-add
            %input{:placeholder => "Write a message"}/
            %span.answer-btn.answer-btn-1
            %span.answer-btn.answer-btn-2
